#Default connection settings
#Server Setup
[SERVER]
PORT = 8888

[LICENSE]
SERVER =
LIC = MyPi-96ee6683af8af86e6276d9e015212302


#GPIO Setup
[GPIO]

#Outputs initial level : 0 for LOW or 1 for HIGH
INIT_LEVEL = 1

#Output pins index
OUT1 = 7
OUT2 = 11
OUT3 = 13
OUT4 = 15
OUT5 = 16
OUT6 = 18
OUT7 = 19
OUT8 = 21
OUT9 = 29
OUT10 = 31
OUT11 = 32
OUT12 = 33
OUT13 = 36
OUT14 = 37
OUT15 = 23
OUT16 = 24

